<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CharsForms.Properties.Settings.zhadbConnectionString"
            connectionString="Data Source=(local);Initial Catalog=zhadb;Persist Security Info=True;User ID=zhawenting;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>